//- users is the variable name----looping through the collection,so that we don't repeat ourselves.....user is a variable for users
extends layout
block content
    div.row.justify-content-center
            div.col-md-7
                div.card-body.border
                    header.card-header  
                        h4.card-title Kasenteko
                    
                            a.btn.btn-primary.btn-block(href="/adminregistration") Admin   
                            a.btn.btn-primary.btn-block(href="/leaderregistration") Group Leader  
                            a.btn.btn-primary.btn-block(href="/memberregistration") Group Member  
                            