doctype html
html(lang="en")
    head
        title Registered Files
        
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet",href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        

       
            
     
          
          
       
    body
      div.container-fluid.bg-secondary.mb-4
        div.card-body.text-center
          h3.text-white Easy Money
          
      block content
      block foot
      
        div.container-fluid.bg-secondary.mb-4
          div.card-body.text-center
            h3.text-white  Kasenteko

   
      

    

